backtrader==1.9.78.123
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
fonttools==4.51.0
frozendict==2.4.4
html5lib==1.1
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.7.5
multitasking==0.0.11
mypy-extensions==1.0.0
numpy==1.24.4
packaging==24.0
pandas==2.0.3
pathspec==0.12.1
patsy==0.5.6
peewee==3.17.5
pillow==10.3.0
platformdirs==4.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
ruff==0.4.8
scipy==1.10.1
six==1.16.0
soupsieve==2.5
statsmodels==0.14.1
TA-Lib==0.4.31
tomli==2.0.1
twstock==1.4.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.40
zipp==3.18.1
